VITE_DATABASE_URL="postgresql://admin:admin@localhost:5432/sirdab_marketplace_development"


VITE_SUPABASE_URL="https://your-project.supabase.co"
VITE_SUPABASE_ANON_KEY="your-anon-key"

PORT=3000
NODE_ENV=development
SESSION_SECRET=""
